@import "./variables";
@import "./mixins";

.md-button {
  @include inheritButton();
}
.md-button-primary {
  @include inheritButton();
  @include transition();
  padding: 8px 16px;
  margin-right: 8px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 2px;
  background-color: $background-color;
  color: $dark-gray;
  img {
    width: 16px;
  }
  &:hover {
    border-radius: 4px;
    background-color: $background-color-secondary;
  }
}
.md-button-round {
  border-radius: 50%;
  padding: 8px;
  img {
    width: 16px;
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.md-title {
  padding: 8px;
  font-size: 24px;
  font-weight: 500;
}

.md-sub-title {
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
}
.md-error{
  font-size: 11px;
  padding: 8px;
  color: red;
}

.md-input {
  border: 0;
  background: white;
  padding: 8px 16px;
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  @include transition();
  &:focus {
    background: $background-color-secondary;
    @include shadow(0px 0px 4px 0px rgba(0, 0, 0, 0.3));
  }
}
